<head>
	<link href="../static/style.css" rel="stylesheet" type = 'text/css'>
</head>

<body>
	<div id='nav_bar'>
		<div id='title'>
			<img src='https://cdn.phototourl.com/member/2026-10-02-c05e5cb3-d9eb-4140-bd74-0fb002a2fc7c.png'>


		</div>
		<div id='pages'>
			<a href="{{ url_for('home') }}" class="page_link">Home</a>
			<a href="{{ url_for('health_knowledge') }}" class="page_link">Health Knowledge</a>
			<a href="{{ url_for('find_care') }}" class="page_link">Finding Care</a>
			<a href="{{ url_for('about_model') }}" class="page_link">About The Model</a>
			<a href="{{ url_for('about_me') }}" class = 'page_link_active'> About Me </a>
		</div>
	</div>


	


    <h1 style = "margin-left: 150px;width: 900px;
    color:#4A90E2;
    transform: translateY(20px);
    font-size: 85px">About Me</h1>

    <div class='vt'>
    	<img src="https://user26015.na.imgto.link/public/20260821/name.avif" class='vp'>


    <h3 style='font-weight: normal'>My name is Ankana Ghosh. Currently I am a Freshman in Garnet Valley High School. I started this project based on a personal experience that changed the way I think about health information. I hope my work improves health literacy and demonstrates how Al can be used to benefit society, particularly people without medical training, like my family.
    </h3>
<h3 style='font-weight: normal'>
When I was in seventh grade, I remember becoming very, very sick during the school year. Like many families, whenever someone in my family gets sick, we immediately begin researching symptoms online. Fever, cough, sore throat, congestion, weakness, body aches, chills, and loss of appetite are common symptoms that can be associated with many different conditions, making it difficult to determine what is actually wrong. After visiting a doctor, I took medication for a week, but my symptoms continued to worsen. As my high fever persisted, my family grew increasingly concerned and continued searching for reliable information, only to become more confused by the countless possibilities presented by search results. Eventually, after a series of tests, my doctor diagnosed me with severe pneumonia, and I began the appropriate treatment.
</h3>
<h3 style='font-weight: normal'>
Fortunately, I recovered, but the experience left me with an important question. Why was it so difficult to find clear, understandable health information when so much information was available online? 
</h3>
<h3 style='font-weight: normal'>
I realized that the challenge was never that the families have no information. The challenge is too much information, and no framework for explaining or understanding it. Most people, including families like mine, do not have medical training, yet they are often expected to navigate large amounts of complex and sometimes conflicting information during stressful situations.
</h3>
<h3 style='font-weight: normal'>
As I learned how to code artificial intelligence and machine learning models, I began wondering whether technology could help make health information easier to understand. Could Al help organize complex symptom patterns, predict possible disease, explain in plain language, and improve health literacy without attempting to replace healthcare professionals?
</h3>
<h3 style='font-weight: normal'>
That question inspired me to create SymPredAI, an Al-powered educational platform designed to guide people through structured learning experiences. Rather than overwhelming users with endless search results, SymPredAI is designed to guide people through a structured learning experience. It makes health information more accessible, understandable, and engaging. While many Al tools focus primarily on predicting conditions from symptoms, SymPredAI emphasizes education and transparency. The platform combines machine learning predictions with explanations of possible health conditions, helping users to understand symptom patterns, interpret results responsibly, and find locations of professional medical care.

</h3>
<h3 style='font-weight: normal'>
I would like to sincerely thank Ms. Sohail, my science teacher at Garnet Valley Middle School, who encouraged me to pursue this idea when I was in 8th grade. She sponsored my participation in local science fairs, where I presented the first phase of my research. My project received first and third place awards in the Computer Science category at the Delaware County (DCSF) and Delaware Valley (DVSF) Science Fairs, in 2026, along with several special awards 
</h3>
<h3 style='font-weight: normal;'>
I would also like to thank the judges at these science fairs for their valuable feedback, which helped me advance the project to its next phase. The first phase of my research focused on identifying which machine learning algorithms performed best for symptom-pattern exploration. The second phase focused on democratizing health knowledge by creating a publicly accessible website that uses artificial intelligence to transform complex symptom data into understandable educational health insights, resulting in SymPredAI.
</h3>
<h3 style='font-weight: normal;'>
This project allowed me to address a real-world problem, analyze a large dataset, build predictive and explainable machine learning models, and design a website for public use. Having studied Python since 5th grade, I saw this project as an opportunity to apply my programming skills to a real-world problem that affects many families. Building SymPredAI challenged me to learn gradient boosting models such as XBoost, CatBoost, and LightGBM, web development using HTML, JavaScript, CSS, SHAP, and Flask to transform a personal experience into a tool that could potentially help other access health information more effectively. 
</h3>
<h3 style='font-weight: normal;'>I believe it is important for users to understand how an Al model reaches its predictions. Such transparency would help build trust and provide clarity, especially to common people. By combining predictions with explanations, describing how the model works, presenting model statistics, and offering a structured process for seeking help, SymPredAl aims to help people become more informed about their health, and feel more prepared to navigate healthcare decisions. I have also created a series of videos, now posted in my YouTube channel, that demonstrate how I built the entire project myself, overcame challenges along the way, and collected and interpreted the data to promote transparency and build trust in the product. </h3>

<h3 style='font-weight: normal;'>
Finally, my hope is that SymPredAI demonstrates how AI can be used not only to make predictions, but also to make knowledge more accessible. I also hope it encourages other students to apply engineering and AI to solve real problems that matter in their communities.
</h3>
        
</div>



</body>
